<div class="row">
    <div class="col-md-3 color-white text-center">
        <h5 class="alert alert-info">DANH MỤC</h5>
        <ul class="list-group md-12  text-center" id="danhmuc">
            <li ng-repeat="cate in cates" class="list-group-item"><a ng-click="loadDanhMuc($index)" href="javascript:void(0)">{{cate}}</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="col-md-4 text-center margin-10px" ng-repeat="listSP in listSPs">
            <a href="#product" ng-click="loadSanPham($index)"><img  class="img-rounded img-nv" src="/img/paris.jpg" /></a>
        </div>
    </div>
</div>